.header-content {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 28px;
  background-color: #000;
  padding: 0.5rem 1rem;
}

.search-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--font-color);
  position: relative;
}

.search-container .material-icons {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.search-container input {
  background: transparent;
  border: none;
  font-size: 1rem;
  outline: none;
  padding-right: 2rem;
}

.search-container input::placeholder {
  color: var(--font-color);
  opacity: 0.6;
}

.search-container input:focus::placeholder {
  color: transparent;
  transition: all 0.2s ease-in-out !important;
}

.search-container:focus-within {
  border-bottom: 1px solid var(--hover-color);
  transition: all 0.2s ease-in-out !important;
}

.search-container:focus-within .material-icons {
  color: var(--hover-color);
  transition: all 0.2s ease-in-out !important;
}

.search-container .close-btn {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.search-results {
  scrollbar-width: thin;
  scrollbar-color: var(--hover-color) transparent;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #cccccc73;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

.search-results li {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.search-results li:hover span {
  color: var(--hover-color);
}

.search-results .thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 0.5rem;
}

.search-results .name {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
}

.action-item {
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
}

.action-item > i:hover {
  color: var(--hover-color);
  transition: all 0.2s ease-in-out;
}

.action-item .material-icons {
  font-size: 1.5rem;
}

.action-item .badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: var(--hover-color);
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 0.75rem;
}
