<header class="app-header">
  <div class ="header-content">
    <div class="search-container">
      <i class="material-icons">search</i>
      <input type="text" placeholder="Search" />
    </div>
    <div class="actions">
      <div class="action-item">
        <i class="material-icons">shopping_cart</i>
        <span class="badge">0</span>
      </div>
      <div class="user-icon" [routerLink]="['/login']">
        <i class="user material-icons">person_4</i>
      </div>
    </div>
  </div>
</header>
