<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <h2>VALLMERE</h2>
    </div>
    <div class="footer-links">
      <h3>Discover</h3>
      <ul>
        <li><a href="#">Dresses</a></li>
        <li><a href="#">Bottoms</a></li>
        <li><a href="#">Footwear</a></li>
        <li><a href="#">Accessories</a></li>
      </ul>
    </div>
    <div class="footer-contact">
      <h3>Locate Us</h3>
      <p>123 Demo Blvd, Miami, FL 4567, United States</p>
      <p>+123-456-7890</p>
      <p>vallmere&#64;gmail.com</p>
    </div>
    <div class="footer-social">
      <a href="#"><i class="bx bxl-instagram"></i></a>
      <a href="#"><i class="bx bxl-whatsapp"></i></a>
      <a href="#"><i class="bx bxl-facebook-square"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Vallmere. Powered by Vallmere</p>
    <div class="payment-methods">
      <img src="/visa-logo-36.png" alt="Visa" />
      <img src="/mastercard-logo-36.png" alt="Mastercard" />
      <img src="/applepay-logo.png" alt="Apple Pay" />
    </div>
  </div>
</footer>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const buyButtons = document.querySelectorAll(".product");

    buyButtons.forEach((button) => {
      button.addEventListener("click", function () {
        window.location.href = "product.html";
      });
    });
  });
</script>
