<section class="sidebar">
  <div class="nav-wrapper">
    <div class="sidebar-header">
      <a [routerLink]="['/']"><img src="/logo.png" alt="Hellstar logo" class="logo" /></a>
    </div>
    <div class="sidebar-content">
      <nav class="sidebar-nav">
        <ul>
          <li><a class="sidebar-link" href="/about">New</a></li>
          <li><a class="sidebar-link" href="/services">T-shirts</a></li>
          <li><a class="sidebar-link" href="/contact">Hoodies</a></li>
          <li><a class="sidebar-link" href="/contact">Hats</a></li>
          <li><a class="sidebar-link" href="/contact">Bags</a></li>
          <li><a class="sidebar-link" href="/contact">Accesories</a></li>
          <li><a class="sidebar-link" href="/contact">Bottoms</a></li>
          <li><a class="sidebar-link" href="/contact">Sweatshirts</a></li>
          <li><a class="sidebar-link" href="/contact">Tops/Jerseys</a></li>
          <li><a class="sidebar-link" href="/contact">Denim</a></li>
          <li><a class="sidebar-link" href="/contact">Womens</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="sidebar-footer">
    <a id="ig-icon" href=""><i class='bx bxl-instagram'></i></a>
    <a>Shipping policy</a>
  </div>
</section>
