<section class="sidebar">
  <div class="nav-wrapper">
    <div class="sidebar-header">
      <a [routerLink]="['/']"><img src="/logo.png" alt="Hellstar logo" class="logo" /></a>
    </div>
    <div class="sidebar-content">
      <nav class="sidebar-nav">
        <ul>
          <li (click)="selectCategory('New')"><a class="sidebar-link">New</a></li>
          <li (click)="selectCategory('T-shirts')"><a class="sidebar-link">T-shirts</a></li>
          <li (click)="selectCategory('Hoodies')"><a class="sidebar-link">Hoodies</a></li>
          <li (click)="selectCategory('Hats')"><a class="sidebar-link">Hats</a></li>
          <li (click)="selectCategory('Bags')"><a class="sidebar-link">Bags</a></li>
          <li (click)="selectCategory('Accesories')"><a class="sidebar-link">Accessories</a></li>
          <li (click)="selectCategory('Bottoms')"><a class="sidebar-link">Bottoms</a></li>
          <li (click)="selectCategory('Sweatshirts')"><a class="sidebar-link">Sweatshirts</a></li>
          <li (click)="selectCategory('Tops/Jerseys')"><a class="sidebar-link">Tops/Jerseys</a></li>
          <li (click)="selectCategory('Denim')"><a class="sidebar-link" >Denim</a></li>
          <li (click)="selectCategory('Womens')"><a class="sidebar-link">Womens</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="sidebar-footer">
    <a id="ig-icon" href=""><i class='bx bxl-instagram'></i></a>
    <a>Shipping policy</a>
  </div>
</section>
